ejercicio_3.dtd

<!-- CODIGO ESCRITO EN XML>
<!DOCTYPE Libro
[
    <!ELEMENT Libro(Titulo/Abstract/Categorias/Precio)>
    <!ATTLIST Libro isbn ID #CDATA>
    <!ATTLIST Libro fecha #CDATA #REQUIRED>
    <!ATTLIST Libro paginas #CDATA>
    <!ELEMENT Titulo #PCDATA>
    <!ELEMENT Abstract #PCDATA>
    <!ELEMENT Categorias(categoria)*>
    <!ELEMENT Categoria #PCDATA>
    <!ELEMENT Precio #PCDATA>
    <!ATTLIST Precio moneda #CDATA (eur|dol|lib)>
]